.bottom
    if(showArea)
        p Phone: #{showArea.telphone || ''}
        p Email:
            a #{showArea.email || ''}
    p © 2016 #{config.host}
    //p All Images are computer generated and contains no photographic content.
