extends ../layout
block content
    +menu(config.menus)
    .container
        include ./area/index
        if(current_user.is_admin)
            include ./setting/base

        p
            span 推荐的图片资源网站
            a(href='https://picjumbo.com') picjumbo.com
            span |
            a(href='http://www.gratisography.com') www.gratisography.com
            span |
            a(href='http://publicdomainarchive.com') publicdomainarchive.com


        //.uploader-list
        //
        //
        //hr
        //
        //script(data-ueditor,id='container',name='info',type='text/plain',style='width:100%;height:360px;')